## Exploración de datos

### Índice
1. [Descripción de los datos ](#id1)
2. [Outliers](#id2)
3. [Distribución de los datos](#id3)
4. [Visualización de los datos](#id4)
5. [Conclusión](#id5)

### 1. Descripción de los datos<a name="id1"></a>
Se describen la cantidad de registros y columnas con sus tipos de datos, ocupación en memoria y una estadística descriptiva de los mismos: cúal es el promedio, el desvío estandar, los cuartiles, todos medidas de tendencia central.

In [1]:
# se importan las librerias necesarias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# Se importa el dataset de trabajo
df = pd.read_csv('./dataset/movies_limpio.csv',  delimiter=',')

C:\Users\Area-Desa15\AppData\Local\Temp\ipykernel_14760\1844338907.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./dataset/movies_limpio.csv',  delimiter=',')

In [3]:
df.head() # Se observan los primeros registros

,budget,genres,id,original_language,overview,popularity,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,franquicia,productoras,paises,release_year,retorno
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,Toy Story Collection,Pixar Animation Studios,United States of America,1995.0,12.451801
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995.0,4.043035
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,Grumpy Old Men Collection,"Warner Bros., Lancaster Gate",United States of America,1995.0,0.000000
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,Twentieth Century Fox Film Corporation,United States of America,1995.0,5.090760
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,Father of the Bride Collection,"Sandollar Productions, Touchstone Pictures",United States of America,1995.0,0.000000

In [5]:
df.columns # se listan las columnas

Index(['budget', 'genres', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'vote_average', 'vote_count', 'franquicia',
       'productoras', 'paises', 'release_year', 'retorno'],
      dtype='object')

In [6]:
print('Cantidad de Filas y Columnas',df.shape)

Cantidad de Filas y Columnas (45379, 20)

In [7]:
df.describe(include="all")  # Estadistica descriptiva
# Esto es un resumen del conjunto de datos para todas las columnas numéricas, excepto los valores NaN

,budget,genres,id,original_language,overview,popularity,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,franquicia,productoras,paises,release_year,retorno
count,4.537900e+04,45379,45379,45368,44438,45377,45376,4.537900e+04,45130.000000,45376,45296,20398,45376,45376.000000,45376.000000,4488,33096,39160,45376.000000,4.537900e+04
unique,NaN,4068,45349,92,44233,44142,17333,NaN,NaN,1931,6,20269,42196,NaN,NaN,1695,22246,2383,NaN,NaN
top,NaN,"[{'id': 18, 'name': 'Drama'}]",141971,en,No overview found.,1e-06,2008-01-01,NaN,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Based on a true story.,Cinderella,NaN,NaN,The Bowery Boys,Metro-Goldwyn-Mayer (MGM),United States of America,NaN,NaN
freq,NaN,4998,3,32202,133,30,136,NaN,NaN,22380,44936,7,11,NaN,NaN,29,742,17846,NaN,NaN
mean,4.232325e+06,NaN,NaN,NaN,NaN,NaN,NaN,1.122936e+07,94.181675,NaN,NaN,NaN,NaN,5.624070,110.096439,NaN,NaN,NaN,1991.881193,6.599991e+02
std,1.743932e+07,NaN,NaN,NaN,NaN,NaN,NaN,6.438789e+07,38.341059,NaN,NaN,NaN,NaN,1.915423,491.742894,NaN,NaN,NaN,24.055360,7.469083e+04
min,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,1874.000000,0.000000e+00
25%,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,85.000000,NaN,NaN,NaN,NaN,5.000000,3.000000,NaN,NaN,NaN,1978.000000,0.000000e+00
50%,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,95.000000,NaN,NaN,NaN,NaN,6.000000,10.000000,NaN,NaN,NaN,2001.000000,0.000000e+00
75%,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,107.000000,NaN,NaN,NaN,NaN,6.800000,34.000000,NaN,NaN,NaN,2010.000000,0.000000e+00
max,3.800000e+08,NaN,NaN,NaN,NaN,NaN,NaN,2.787965e+09,1256.000000,NaN,NaN,NaN,NaN,10.000000,14075.000000,NaN,NaN,NaN,2020.000000,1.239638e+07

In [8]:
df.describe() # describe reducido a las columnas numericas

,budget,revenue,runtime,vote_average,vote_count,release_year,retorno
count,4.537900e+04,4.537900e+04,45130.000000,45376.000000,45376.000000,45376.000000,4.537900e+04
mean,4.232325e+06,1.122936e+07,94.181675,5.624070,110.096439,1991.881193,6.599991e+02
std,1.743932e+07,6.438789e+07,38.341059,1.915423,491.742894,24.055360,7.469083e+04
min,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,1874.000000,0.000000e+00
25%,0.000000e+00,0.000000e+00,85.000000,5.000000,3.000000,1978.000000,0.000000e+00
50%,0.000000e+00,0.000000e+00,95.000000,6.000000,10.000000,2001.000000,0.000000e+00
75%,0.000000e+00,0.000000e+00,107.000000,6.800000,34.000000,2010.000000,0.000000e+00
max,3.800000e+08,2.787965e+09,1256.000000,10.000000,14075.000000,2020.000000,1.239638e+07

Con los análisis anteriores se puede observar que las peliculas registras datan de los años 1874 al 2020. Entre ellas hay filmaciones con presupuesto y ganancia en cero. 
También se observa que hay peliculas que no tienen valoración registrada, en cuanto a puntuación por polularidad TMDB (TheMoviesDataBase), reseña y votación.

Se muestra cúales son esos registros:

In [9]:
# Se observa por columna: la cantidad de registro, el tipo de dato y si tiene valores nulos o no. 
# También se observa el uso de memoria.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45379 non-null  float64
 1   genres             45379 non-null  object
 2   id                 45379 non-null  object
 3   original_language  45368 non-null  object
 4   overview           44438 non-null  object
 5   popularity         45377 non-null  object
 6   release_date       45376 non-null  object
 7   revenue            45379 non-null  float64
 8   runtime            45130 non-null  float64
 9   spoken_languages   45376 non-null  object
 10  status             45296 non-null  object
 11  tagline            20398 non-null  object
 12  title              45376 non-null  object
 13  vote_average       45376 non-null  float64
 14  vote_count         45376 non-null  float64
 15  franquicia         4488 non-null   object
 16  productoras        33096 non-null  object
 17  paises             39160 non-null  object
 18  release_year       45376 non-null  float64
 19  retorno            45379 non-null  float64
dtypes: float64(7), object(13)
memory usage: 6.9+ MB

In [10]:
df.isnull().sum() # se enlista los nulos por columna, pero no se los imputa.

budget                   0
genres                   0
id                       0
original_language       11
overview               941
popularity               2
release_date             3
revenue                  0
runtime                249
spoken_languages         3
status                  83
tagline              24981
title                    3
vote_average             3
vote_count               3
franquicia           40891
productoras          12283
paises                6219
release_year             3
retorno                  0
dtype: int64

In [12]:
# se analiza si hay duplicados:
df.duplicated().sum()

13

In [14]:
print(df[df.duplicated(keep=False)]) # se visualizan los registros duplicados

         budget                                             genres      id  \
676         0.0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...  105045
1463        0.0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...  105045
7340        0.0  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...    5511
8063        0.0  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...   23305
9160        0.0  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...    5511
9322        0.0  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...   23305
13256       0.0  [{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...  141971
13370       0.0  [{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...  141971
13598       0.0  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...  168538
13994       0.0  [{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...   18440
14006       0.0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...   11115
15695       0.0  [{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...   42495
16757       0.0  [{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...  141971
17220       0.0                      [{'id': 18, 'name': 'Drama'}]   25541
19874       0.0  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...  119916
19909       0.0  [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...  152795
21144       0.0  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...  119916
21831       0.0  [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...  152795
22126       0.0  [{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...   18440
23018       0.0                      [{'id': 18, 'name': 'Drama'}]   25541
24815       0.0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...   11115
28830       0.0  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...  168538
29344       0.0  [{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...   42495
33146  980000.0  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...  298721
39983  980000.0  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...  298721

      original_language                                           overview  \
676                  de  East-Berlin, 1961, shortly after the erection ...
1463                 de  East-Berlin, 1961, shortly after the erection ...
7340                 fr  Hitman Jef Costello is a perfectionist who alw...
8063                 en  In feudal India, a warrior (Khan) who renounce...
9160                 fr  Hitman Jef Costello is a perfectionist who alw...
9322                 en  In feudal India, a warrior (Khan) who renounce...
13256                fi  Recovering from a nail gun shot to the head an...
13370                fi  Recovering from a nail gun shot to the head an...
13598                en  In Zola's Paris, an ingenue arrives at a tony ...
13994                en  When a comet strikes Earth and kicks up a clou...
14006                en  As an ex-gambler teaches a hot-shot college ki...
15695                en  King Lear, old and tired, divides his kingdom ...
16757                fi  Recovering from a nail gun shot to the head an...
17220                da  Former Danish servicemen Lars and Jimmy are th...
19874                en  Prospero, the true Duke of Milan is now living...
19909                en  More than two decades after catapulting to sta...
21144                en  Prospero, the true Duke of Milan is now living...
21831                en  More than two decades after catapulting to sta...
22126                en  When a comet strikes Earth and kicks up a clou...
23018                da  Former Danish servicemen Lars and Jimmy are th...
24815                en  As an ex-gambler teaches a hot-shot college ki...
28830                en  In Zola's Paris, an ingenue arrives at a tony ...
29344                en  King Lear, old and tired, divides his kingdom ...
33146                th  In a hospital, ten soldiers are being treated ...
39983                th  In a hospital, ten soldiers are being treated ...

      popularity release_date   revenue  runtime  \
676     0.122178   1995-02-16       0.0    115.0
1463    0.122178   1995-02-16       0.0    115.0
7340    9.091288   1967-10-25   39481.0    105.0
8063    1.967992   2001-09-23       0.0     86.0
9160    9.091288   1967-10-25   39481.0    105.0
9322    1.967992   2001-09-23       0.0     86.0
13256   0.411949   2008-12-26       0.0    108.0
13370   0.411949   2008-12-26       0.0    108.0
13598   1.276602   1983-06-13       0.0     92.0
13994   1.436085   2007-01-01       0.0     89.0
14006   6.880365   2008-01-29       0.0     85.0
15695   0.187901   1971-02-04       0.0    137.0
16757   0.411949   2008-12-26       0.0    108.0
17220   2.587911   2009-10-21       0.0     90.0
19874   0.000018   1980-02-27       0.0    123.0
19909   8.534039   2013-05-16  455815.0    122.0
21144   0.000018   1980-02-27       0.0    123.0
21831   8.534039   2013-05-16  455815.0    122.0
22126   1.436085   2007-01-01       0.0     89.0
23018   2.587911   2009-10-21       0.0     90.0
24815   6.880365   2008-01-29       0.0     85.0
28830   1.276602   1983-06-13       0.0     92.0
29344   0.187901   1971-02-04       0.0    137.0
33146   2.535419   2015-09-02       0.0    122.0
39983   2.535419   2015-09-02       0.0    122.0

                                        spoken_languages    status  \
676             [{'iso_639_1': 'de', 'name': 'Deutsch'}]  Released
1463            [{'iso_639_1': 'de', 'name': 'Deutsch'}]  Released
7340           [{'iso_639_1': 'fr', 'name': 'Français'}]  Released
8063             [{'iso_639_1': 'hi', 'name': 'हिन्दी'}]  Released
9160           [{'iso_639_1': 'fr', 'name': 'Français'}]  Released
9322             [{'iso_639_1': 'hi', 'name': 'हिन्दी'}]  Released
13256             [{'iso_639_1': 'fi', 'name': 'suomi'}]  Released
13370             [{'iso_639_1': 'fi', 'name': 'suomi'}]  Released
13598                                                 []  Released
13994           [{'iso_639_1': 'en', 'name': 'English'}]  Released
14006           [{'iso_639_1': 'en', 'name': 'English'}]  Released
15695           [{'iso_639_1': 'en', 'name': 'English'}]   Rumored
16757             [{'iso_639_1': 'fi', 'name': 'suomi'}]  Released
17220             [{'iso_639_1': 'da', 'name': 'Dansk'}]  Released
19874                                                 []  Released
19909           [{'iso_639_1': 'en', 'name': 'English'}]  Released
21144                                                 []  Released
21831           [{'iso_639_1': 'en', 'name': 'English'}]  Released
22126           [{'iso_639_1': 'en', 'name': 'English'}]  Released
23018             [{'iso_639_1': 'da', 'name': 'Dansk'}]  Released
24815           [{'iso_639_1': 'en', 'name': 'English'}]  Released
28830                                                 []  Released
29344           [{'iso_639_1': 'en', 'name': 'English'}]   Rumored
33146  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
39983  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released

                                                 tagline  \
676                              A love, a hope, a wall.
1463                             A love, a hope, a wall.
7340   There is no solitude greater than that of the ...
8063                                                 NaN
9160   There is no solitude greater than that of the ...
9322                                                 NaN
13256  Which one is the first to return - memory or t...
13370  Which one is the first to return - memory or t...
13598                                                NaN
13994                                                NaN
14006                                                NaN
15695                                                NaN
16757  Which one is the first to return - memory or t...
17220                                                NaN
19874                                                NaN
19909                                                NaN
21144                                                NaN
21831                                                NaN
22126                                                NaN
23018                                                NaN
24815                                                NaN
28830                                                NaN
29344                                                NaN
33146                                                NaN
39983                                                NaN

                                title  vote_average  vote_count franquicia  \
676                       The Promise           5.0         1.0        NaN
1463                      The Promise           5.0         1.0        NaN
7340                      Le Samouraï           7.9       187.0        NaN
8063                      The Warrior           6.3        15.0        NaN
9160                      Le Samouraï           7.9       187.0        NaN
9322                      The Warrior           6.3        15.0        NaN
13256                        Blackout           6.7         3.0        NaN
13370                        Blackout           6.7         3.0        NaN
13598  Nana, the True Key of Pleasure           4.7         3.0        NaN
13994                Days of Darkness           5.0         5.0        NaN
14006                            Deal           5.2        22.0        NaN
15695                       King Lear           8.0         3.0        NaN
16757                        Blackout           6.7         3.0        NaN
17220                     Brotherhood           7.1        21.0        NaN
19874                     The Tempest           0.0         0.0        NaN
19909                    The Congress           6.4       165.0        NaN
21144                     The Tempest           0.0         0.0        NaN
21831                    The Congress           6.4       165.0        NaN
22126                Days of Darkness           5.0         5.0        NaN
23018                     Brotherhood           7.1        21.0        NaN
24815                            Deal           5.2        22.0        NaN
28830  Nana, the True Key of Pleasure           4.7         3.0        NaN
29344                       King Lear           8.0         3.0        NaN
33146           Cemetery of Splendour           4.4        50.0        NaN
39983           Cemetery of Splendour           4.4        50.0        NaN

                                             productoras  \
676    Studio Babelsberg, Centre National de la Ciném...
1463   Studio Babelsberg, Centre National de la Ciném...
7340   Fida cinematografica, Compagnie Industrielle e...
8063                                            Filmfour
9160   Fida cinematografica, Compagnie Industrielle e...
9322                                            Filmfour
13256                               Filmiteollisuus Fine
13370                               Filmiteollisuus Fine
13598            Cannon Group, Metro-Goldwyn-Mayer (MGM)
13994                                                NaN
14006  Andertainment Group, Crescent City Pictures, T...
15695  Royal Shakespeare Company, Laterna Film, Athen...
16757                               Filmiteollisuus Fine
17220                                                NaN
19874                                                NaN
19909  Pandora Filmproduktion, Entre Chien et Loup, O...
21144                                                NaN
21831  Pandora Filmproduktion, Entre Chien et Loup, O...
22126                                                NaN
23018                                                NaN
24815  Andertainment Group, Crescent City Pictures, T...
28830            Cannon Group, Metro-Goldwyn-Mayer (MGM)
29344  Royal Shakespeare Company, Laterna Film, Athen...
33146  Match Factory, The, Louverture Films, Tordenfi...
39983  Match Factory, The, Louverture Films, Tordenfi...

                                                  paises  release_year  \
676                                              Germany        1995.0
1463                                             Germany        1995.0
7340                                       France, Italy        1967.0
8063              France, Germany, India, United Kingdom        2001.0
9160                                       France, Italy        1967.0
9322              France, Germany, India, United Kingdom        2001.0
13256                                            Finland        2008.0
13370                                            Finland        2008.0
13598                                                NaN        1983.0
13994                           United States of America        2007.0
14006                           United States of America        2008.0
15695                            Denmark, United Kingdom        1971.0
16757                                            Finland        2008.0
17220                                    Sweden, Denmark        2009.0
19874                                                NaN        1980.0
19909  Belgium, France, Germany, Israel, Luxembourg, ...        2013.0
21144                                                NaN        1980.0
21831  Belgium, France, Germany, Israel, Luxembourg, ...        2013.0
22126                           United States of America        2007.0
23018                                    Sweden, Denmark        2009.0
24815                           United States of America        2008.0
28830                                                NaN        1983.0
29344                            Denmark, United Kingdom        1971.0
33146  United Kingdom, United States of America, Fran...        2015.0
39983  United Kingdom, United States of America, Fran...        2015.0

       retorno
676        0.0
1463       0.0
7340       0.0
8063       0.0
9160       0.0
9322       0.0
13256      0.0
13370      0.0
13598      0.0
13994      0.0
14006      0.0
15695      0.0
16757      0.0
17220      0.0
19874      0.0
19909      0.0
21144      0.0
21831      0.0
22126      0.0
23018      0.0
24815      0.0
28830      0.0
29344      0.0
33146      0.0
39983      0.0

In [16]:
df = df.drop_duplicates()
print('Cantidad de registros sin duplicados',df.shape[0])

Cantidad de registros sin duplicados 45366

### 2. Ortliers<a name="id2"></a>
Detección de valores atípicos.