## Exploración de datos

### Índice
1. [Descripción de los datos ](#id1)
2. [Outliers](#id2)
3. [Distribución de los datos](#id3)
4. [Visualización de los datos](#id4)
5. [Conclusión](#id5)

### 1. Descripción de los datos<a name="id1"></a>
Se describen la cantidad de registros y columnas con sus tipos de datos, ocupación en memoria y una estadística descriptiva de los mismos: cúal es el promedio, el desvío estandar, los cuartiles, todos medidas de tendencia central.

In [3]:
# se importan las librerias necesarias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
# Se importa el dataset de trabajo
df = pd.read_csv('./dataset/movies_limpio.csv',  delimiter=',')

In [10]:
df.head() # Se observan los primeros registros

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,status,tagline,title,vote_average,vote_count,franquicia,productoras,paises,release_year,retorno
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,Released,NaN,Toy Story,7.7,5415.0,Toy Story Collection,Pixar Animation Studios,United States of America,1995,12.451801
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,Grumpy Old Men Collection,"Warner Bros., Lancaster Gate",United States of America,1995,0.000000
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,Twentieth Century Fox Film Corporation,United States of America,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,Father of the Bride Collection,"Sandollar Productions, Touchstone Pictures",United States of America,1995,0.000000

In [21]:
df.columns # se listan las columnas

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'franquicia', 'productoras', 'paises', 'release_year',
       'retorno'],
      dtype='object')

In [22]:
print('Cantidad de Filas y Columnas',df.shape)

Cantidad de Filas y Columnas (45376, 23)

In [17]:
df.describe(include="all")  # Estadistica descriptiva
# Esto es un resumen del conjunto de datos para todas las columnas numéricas, excepto los valores NaN

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,status,tagline,title,vote_average,vote_count,franquicia,productoras,paises,release_year,retorno
count,4488,4.537600e+04,45376,45376.000000,45365,44435,45376.000000,45376,45376,45376,...,45296,20398,45376,45376.000000,45376.000000,4488,33096,39160,45376.000000,4.537600e+04
unique,1695,NaN,4065,NaN,89,44232,NaN,22703,2389,17333,...,6,20269,42196,NaN,NaN,1695,22246,2383,NaN,NaN
top,"{'id': 415931, 'name': 'The Bowery Boys', 'pos...",NaN,"[{'id': 18, 'name': 'Drama'}]",NaN,en,No overview found.,NaN,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2008-01-01,...,Released,Based on a true story.,Cinderella,NaN,NaN,The Bowery Boys,Metro-Goldwyn-Mayer (MGM),United States of America,NaN,NaN
freq,29,NaN,4998,NaN,32202,133,NaN,11796,17846,136,...,44936,7,11,NaN,NaN,29,742,17846,NaN,NaN
mean,NaN,4.232604e+06,NaN,108027.103094,NaN,NaN,2.926458,NaN,NaN,NaN,...,NaN,NaN,NaN,5.624070,110.096439,NaN,NaN,NaN,1991.881193,6.600428e+02
std,NaN,1.743986e+07,NaN,112168.377996,NaN,NaN,6.009672,NaN,NaN,NaN,...,NaN,NaN,NaN,1.915423,491.742894,NaN,NaN,NaN,24.055360,7.469329e+04
min,NaN,0.000000e+00,NaN,2.000000,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,1874.000000,0.000000e+00
25%,NaN,0.000000e+00,NaN,26385.750000,NaN,NaN,0.388840,NaN,NaN,NaN,...,NaN,NaN,NaN,5.000000,3.000000,NaN,NaN,NaN,1978.000000,0.000000e+00
50%,NaN,0.000000e+00,NaN,59857.500000,NaN,NaN,1.130454,NaN,NaN,NaN,...,NaN,NaN,NaN,6.000000,10.000000,NaN,NaN,NaN,2001.000000,0.000000e+00
75%,NaN,0.000000e+00,NaN,156533.500000,NaN,NaN,3.691695,NaN,NaN,NaN,...,NaN,NaN,NaN,6.800000,34.000000,NaN,NaN,NaN,2010.000000,0.000000e+00
max,NaN,3.800000e+08,NaN,469172.000000,NaN,NaN,547.488298,NaN,NaN,NaN,...,NaN,NaN,NaN,10.000000,14075.000000,NaN,NaN,NaN,2020.000000,1.239638e+07

In [20]:
df.describe() # describe reducido a las columnas numericas

,budget,id,popularity,revenue,runtime,vote_average,vote_count,release_year,retorno
count,4.537600e+04,45376.000000,45376.000000,4.537600e+04,45130.000000,45376.000000,45376.000000,45376.000000,4.537600e+04
mean,4.232604e+06,108027.103094,2.926458,1.123010e+07,94.181675,5.624070,110.096439,1991.881193,6.600428e+02
std,1.743986e+07,112168.377996,6.009672,6.438996e+07,38.341059,1.915423,491.742894,24.055360,7.469329e+04
min,0.000000e+00,2.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1874.000000,0.000000e+00
25%,0.000000e+00,26385.750000,0.388840,0.000000e+00,85.000000,5.000000,3.000000,1978.000000,0.000000e+00
50%,0.000000e+00,59857.500000,1.130454,0.000000e+00,95.000000,6.000000,10.000000,2001.000000,0.000000e+00
75%,0.000000e+00,156533.500000,3.691695,0.000000e+00,107.000000,6.800000,34.000000,2010.000000,0.000000e+00
max,3.800000e+08,469172.000000,547.488298,2.787965e+09,1256.000000,10.000000,14075.000000,2020.000000,1.239638e+07

Con los análisis anteriores se puede observar que las peliculas registras datan de los años 1874 al 2020. Entre ellas hay filmaciones con presupuesto y ganancia en cero. 
También se observa que hay peliculas que no tienen valoración registrada, en cuanto a puntuación por polularidad TMDB (TheMoviesDataBase), reseña y votación.

Se muestra cúales son esos registros:

In [23]:
# Se observa por columna: la cantidad de registro, el tipo de dato y si tiene valores nulos o no. 
# También se observa el uso de memoria.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45376 entries, 0 to 45375
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 45376 non-null  object
 3   id                     45376 non-null  int64
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  float64
 7   production_companies   45376 non-null  object
 8   production_countries   45376 non-null  object
 9   release_date           45376 non-null  object
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  vote_count             45376 non-null  float64
 18  franquicia             4488 non-null   object
 19  productoras            33096 non-null  object
 20  paises                 39160 non-null  object
 21  release_year           45376 non-null  int64
 22  retorno                45376 non-null  float64
dtypes: float64(7), int64(2), object(14)
memory usage: 8.0+ MB

In [18]:
df.isnull().sum() # se enlista los nulos por columna, pero no se los imputa.

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24978
title                        0
vote_average                 0
vote_count                   0
franquicia               40888
productoras              12280
paises                    6216
release_year                 0
retorno                      0
dtype: int64

### 2. Ortliers<a name="id2"></a>
Detección de valores atípicos.